<%- include("partials/header") -%>

<% posts.slice().reverse().forEach(post => { %>
    <h1 class="postTitle "> <%- post.postTitle -%> </h1>
    <p class="postBody"><%- post.postBody.substring(0, 500) + "..." -%>
        <a href="/posts/<%- post.postTitle -%>" class="btn btn-xs btn-dark">Read More</a>
    </p>
<% }) %>

<%- include("partials/footer") -%>
